# Flutter specific
.flutter-plugins
.dart_tool/
.packages
.pub/
build/
# Android specific
android/app/google-services.json
android/key.properties
# iOS specific (if applicable)
ios/.generated/
ios/Podfile*
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Runner.xcworkspace/contents.xcworkspacedata
# User-specific files
.idea/
*.iml
*.iws
# Gradle files
.gradle/
local.properties
# Build output directories
bin/
gen/
out/
# Log files
*.log
# Miscellaneous files to ignore
.DS_Store
*.apk
*.ap_
*.dex
*.class

# Uncomment the following line if you do not want to check your keystore files in.
# *.jks

# Fastlane files (if using Fastlane)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/readme.md

# Sensitive or high-churn files (example)
.env  # Add your secrets here, and create an .env.example for reference.